[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-image = "*"
scikit-learn = "*"
keras = "*"
"h5py" = "*"
seaborn = "*"
ghalton = "*"
ipdb = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.6"
